<div class="max-w-7xl mx-auto p-6">
  <h1 class="text-3xl font-bold text-center text-gray-800 mb-4">Nos Bouquets</h1>

  <p class="text-center text-gray-800 max-w-2xl mx-auto mb-10">
    Découvrez notre collection exclusive de bouquets artisanaux soigneusement confectionnés pour toutes les occasions :
    mariages, anniversaires, fêtes ou simplement pour offrir un sourire. 🌸💐
    <br />
    Chaque bouquet est conçu avec amour et créativité pour apporter beauté, fraîcheur et émotion à votre quotidien.
  </p>

  <div class="home-container p-6" >
<!--     Bouton pour ajouter un bouquet -->
    <button *ngIf="authService.isAdmin"
      (click)="redirectToAddBouquet()"
      class="add-bouquet-btn bg-green-500 text-white py-2 px-4 rounded-md hover:bg-green-600 transition duration-200"
    >
      + Ajouter un bouquet
    </button>
    <button *ngIf="authService.isAdmin"
            routerLink="/commandes"
            class="bg-blue-600 text-white py-2 px-4 rounded-md hover:bg-blue-700 transition duration-200"
    >
      📦 Voir les commandes
    </button>
    <!-- Affichage des bouquets -->
    <div class="bouquet-cards grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mt-6">
      <div *ngFor="let bouquet of bouquets" class="bouquet-card p-4 border rounded-lg shadow-md relative">

        <!-- Image -->
        <img [src]="'http://localhost:8080' + bouquet.imageUrl" alt="Bouquet Image"
             class="w-full h-50 object-cover rounded-md mb-4" />

        <!-- Titre / description / prix -->
        <h3 class="text-xl font-semibold">{{ bouquet.nom }}</h3>
        <p class="text-gray-600 mt-2">{{ bouquet.description }}</p>
        <p class="text-lg font-bold mt-2">{{ bouquet.prix }} DH</p>

        <!-- Ajouter au panier -->
        <button class="bg-blue-500 text-white py-1 px-4 rounded-md mt-4 hover:bg-blue-600"
                (click)="addToCart(bouquet)">
          Ajouter au panier
        </button>

        <!-- Bouton admin - menu -->
        <div *ngIf="authService.isAdmin" class="absolute top-2 right-2">
          <button (click)="toggleMenu(bouquet.id)" class="text-gray-700 hover:text-gray-900">
            <i class="fas fa-ellipsis-v text-xl"></i>
          </button>

          <!-- Menu déroulant -->
          <div *ngIf="selectedMenuId === bouquet.id"
               class="absolute right-0 mt-2 w-36 bg-white border rounded-md shadow-lg z-50">
            <button class="w-full text-left px-4 py-2 hover:bg-gray-100"
                    (click)="onEdit(bouquet)">
              ✏️ Modifier
            </button>
            <button class="w-full text-left px-4 py-2 text-red-600 hover:bg-red-100"
                    (click)="onDelete(bouquet)">
              🗑️ Supprimer
            </button>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>
