<div class="min-h-screen bg-gray-50 py-10 px-6">
  <!-- 🔙 Bouton de retour -->
  <div class="text-left">
    <a routerLink="/" class="inline-block bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 px-6 rounded-lg transition duration-300">
      ⬅️ Retour à l'accueil
    </a>
  </div>
  <div class="max-w-4xl mx-auto">
    <h2 class="text-3xl font-semibold text-gray-800 mb-8 border-b pb-2 border-gray-300">
      📦 Liste des Commandes
    </h2>

    <div *ngFor="let commande of commandes" class="bg-white shadow-lg rounded-xl p-6 mb-6">
      <div class="flex justify-between items-center mb-2">
        <span class="text-gray-600 font-medium">Date :</span>
        <span class="text-gray-800">{{ commande.dateCommande  }}</span>
      </div>
      <div class="flex justify-between items-center mb-4">
        <span class="text-gray-600 font-medium">Total :</span>
        <span class="text-green-600 font-bold text-lg">{{ commande.prixTotal }} MAD</span>
      </div>

      <div>
        <h4 class="text-sm font-semibold text-gray-500 mb-2">Détails de la commande :</h4>
        <ul class="space-y-2 pl-5">
          <li *ngFor="let element of commande.elements" class="text-gray-700 list-disc">
            <span class="font-medium">{{ element.nomBouquet }}</span>  :
            {{ element.quantite }} x {{ element.prixUnitaire }} MAD =
            <span class="text-green-600 font-semibold">{{ element.sousTotal }} MAD</span>
          </li>
        </ul>
      </div>
    </div>


  </div>
</div>
